@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.checkIt {
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    rgb(255, 219, 200) 50%
  );
}
